.contact-container {
}

.header-contact {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}

.contact-links {
    text-align: center;
}

.contact-text {
    text-align: center;
    margin-top: -20px;
    font-weight: normal;
    font-size: 25px;
}

